/* SignUp */
body{
    background-color: #0ac9c9;
    height: 100vh;
}
.primary_button {
    text-transform: none !important;
    background-color: rgb(12, 12, 101) !important;
    color: hsl(12, 93%, 44%) !important;
}

.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 340px;
    background-color: #1ed1ec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 6px 20px 0px hsl(107, 92%, 35%);
}
.header_title{
    font-size: 32px;
    font-weight: 600;
}

.signUp{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.forgot_password {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    
}
.forgot{
    cursor: pointer;
    color: var(--primary_color);
}
.MuiTextField-root{
    width: 100% !important;
}

.account{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/*  Sidebar */

  .menu-item {
    margin-bottom: 10px;
  }
  
  .menu-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #28e6fc;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .menu-link:hover {
    background-color: hsl(100, 88%, 42%);
  }
  
  .menu-label {
    margin-left: 10px;
    font-size: 14px;
  }
  
  .menu-link.active {
    background-color: hwb(209 12% 14%); 
  }

  .logo {
    height:60px;
    display:flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
  }
  /* Layout */

  .layout {
    height: 100vh; 
    display: flex;
  }
  
  .main-container {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 260px;
    background-color: var(--primary_color);
    color: #1f58bb;
    padding: 10px;
  }
  
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    height: 60px;
    background-color: #333;
    color: #e2ed11;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard {
    flex: 1; 
    padding: 20px;
    background-color: hsl(310, 92%, 54%);
  }




  .flex{
    display: flex;
  
    align-items:flex-end;
    margin-top: 30px;
    margin-right:70px;
    flex-direction:row;
    margin: 10px;

    justify-content: flex-end;


  }
  .search{
    width:fit-content;
    margin-bottom: 45px;
  background-color: antiquewhite;
    justify-items: end;
    margin-left: 280px;

  }
  .flex button{
    
    background-color: rgb(12, 12, 101) !important;
    color: #ffffff !important;
    justify-content: center !important;
    align-items: center;
    font-style:inherit;
    text-transform: capitalize;
     display:flex; 
     position:absolute;
     }
     .MuiIconButton-root{
      color: rgb(23, 19, 19) !important;
     }